<div id="left-sidebar" class="show-for-medium">
	 <button type="button" data-toggle="offCanvas"> More</br>Games</button>
</div>
<div class="hide-for-medium">
	<div class="row"  data-toggle="offCanvas">
		<div class="columns">
			<div class="row title-bar sidemargin">
				<h3>More Games</h3>
			</div>
		</div>
	</div>
</div>