<div class="row callout show-for-large">
	<div class="small-12 large-5 columns">
		<br />
		<h3 class="text-center titleFont"><b>Team900</b></h3>
		<h3 class="text-center titleFont"><small class="dark smaller">FIRST Robotics</small></h3>
	</div>
	<div class="small-12 large-2 columns">
		<br />
		<%=image_tag '/assets/zebracorn.png', :alt=>"Zebracorns", :width=>"100%"%>
	</div>
	<div class="small-12 large-5 columns">
		<br />
        <h3 class="text-center titleFont"><b>The Zebracorns</b></h3>
		<h3 class="text-center titleFont"><small class="dark smaller">Durham, NC</small></h3>
	</div>
</div>
<div class="row callout show-for-medium-only">
	<div class="medium-8 columns">
		<h3 class="text-center titleFont"><small class="dark smaller">FIRST Robotics</small></h3>
		<h3 class="text-center titleFont"><b>Team 900</b></h3>
        <h3 class="text-center titleFont"><b>The Zebracorns</b></h3>
		<h3 class="text-center titleFont"><small class="dark smaller">Durham, NC</small></h3>
	</div>
	<div class="medium-4 columns">
		<%=image_tag '/assets/zebracorn.png', :alt=>"Zebracorns", :width=>"100%"%>
	</div>
</div>
<div class="row callout show-for-small-only">
	<div class="small-12 large-5 columns">
		<br />
		<h3 class="text-center titleFont"><small class="dark smaller">FIRST Robotics</small></h3>
		<h3 class="text-center titleFont"><b>Team900</b></h3>
	</div>
	<div class="small-12 large-2 columns">
		<br />
		<%=image_tag '/assets/zebracorn.png', :alt=>"Zebracorns", :width=>"100%"%>
	</div>
	<div class="small-12 large-5 columns">
		<br />
        <h3 class="text-center titleFont"><b>The Zebracorns</b></h3>
		<h3 class="text-center titleFont"><small class="dark smaller">Durham, NC</small></h3>
	</div>
</div>


<div class="row">
	<div class="small-12 medium-expand columns callout">
		<div class="row title-bar">
			<h5><%=link_to "Upcoming Meetings!", calendar_path%></h5>
		</div>
		<br />
			<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=usa__en%40holiday.calendar.google.com&amp;color=%23AB8B00&amp;src=roboticsteam900%40gmail.com&amp;color=%232952A3&amp;src=ae3v03ge78eumfuh4h0dbpjuic%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=America%2FNew_York" style="border-width:0" width="100%" height="300px" frameborder="0" scrolling="no"></iframe>
	</div>
	<div class="small-1 columns">
	</div>
	<div class="small-12 medium-expand columns callout">
		<div class="row title-bar">
			<h5>Join Our Mailing List!</h5>
		</div>
		yay here. <br />
		yay here. <br />
		yay here. <br />
	</div>
</div>
<div class="row ">
	<div class="columns callout">
		<div class="row title-bar">
			<h5>News!</h5>
		</div>
		Meeting 1 <br />
		Meeting 2 <br />
		Meeting 1 <br />
		Meeting 2 <br />
		Meeting 1 <br />
		Meeting 2 <br />
		Meeting 1 <br />
		Meeting 2 <br />
		Meeting 1 <br />
		Meeting 2 <br />
		Meeting 1 <br />
		Meeting 2 <br />
		Meeting 1 <br />
		Meeting 2 <br />
		Meeting 1 <br />
		Meeting 2 <br />
	</div>
</div>

<div class="row align-justify">
	<div class="small-12 large-3 columns callout text-center">
		<br />
		<br />
		<h2>Team Handbook</h2>
		<br />
		<br />
	</div>
	<div class="small-12 large-3 columns callout text-center">
		<br />
		<h2>How Can I Get Involved?</h2>
		<br />
	</div>
	<div class="small-12 large-3 columns callout text-center">
		<br />
		<br />
		<h2 class="float-center">Zebracorn Labs</h2>
		<br />
		<br />
	</div>
</div>