<div class="row callout">
	<div class="small-5 columns">
		<br />
		<h1 class="text-center titleFont"><b>Team900</b></h1>
		<h1 class="text-center titleFont"><small class="dark smaller">FIRST Robotics</small></h1>
	</div>
	<div class="small-2 columns">
		<%=image_tag '/assets/zebracorn.png', :alt=>"Zebracorns", :width=>"100%"%>
	</div>
	<div class="small-5 columns">
		<br />
        <h1 class="text-center titleFont"><b>Zebracorns</b></h1>
		<h1 class="text-center titleFont"><small class="dark smaller">Durham, NC</h1>
	</div>
</div>

<div class="row">
	<div class="columns callout">
		<div class="row title-bar">
			<h4>Upcoming Meetings!</h4>
		</div>
		Meeting 1
		Meeting 2
	</div>
	<div class="small-1 columns">
	</div>
	<div class="columns callout">
		Mailing List
	</div>

</div>