<%=render "title_bar"%>

<div class="row">
	<div class="small-12 medium-expand columns callout">
		<%=render "meetings"%>
	</div>
	<div class="small-1 columns">
	</div>
	<div class="small-12 medium-expand columns callout">
		<%=render "mailchimp"%>
	</div>
</div>
<div class="row ">
	<div class="columns callout">
		<div class="row title-bar">
			<h5>News!</h5>
		</div>
		Meeting 1 <br />
		Meeting 2 <br />
		Meeting 1 <br />
		Meeting 2 <br />
		Meeting 1 <br />
		Meeting 2 <br />
		Meeting 1 <br />
		Meeting 2 <br />
		Meeting 1 <br />
		Meeting 2 <br />
		Meeting 1 <br />
		Meeting 2 <br />
		Meeting 1 <br />
		Meeting 2 <br />
		Meeting 1 <br />
		Meeting 2 <br />
	</div>
</div>

<div class="row align-justify">
	<div class="small-12 large-3 columns callout text-center">
		<%=link_to "<br /><br /><h2>Team Handbook</h2><br /><br />".html_safe, team_handbook_path, :class=>"fill-div"%>
	</div>
	<div class="small-12 large-3 columns callout text-center">
		<br />
		<h2>How Can I Get Involved?</h2>
		<br />
	</div>
	<div class="small-12 large-3 columns callout text-center">
		<br />
		<br />
		<h2 class="float-center">Zebracorn Labs</h2>
		<br />
		<br />
	</div>
</div>