<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sponsor_level.name %>
</p>

<%= link_to 'Edit', edit_sponsor_level_path(@sponsor_level) %> |
<%= link_to 'Back', sponsor_levels_path %>
