<div class="row">
	<div class="small-12 medium-expand columns callout">
		<div class="row title-bar">
			<h5>The Handbook</h5>
		</div>
		<%if !Handbook.latest.nil?%>
			<%=Handbook.latest.about.html_safe%>
		<%else%>
			You need to upload the handbook!
		<%end%>
	</div>
	<div class="small-1 columns">
	</div>
	<div class="small-12 medium-expand columns callout text-center">
		<%if !Handbook.latest.nil?%>
			<%=link_to "".html_safe, Handbook.latest.handbook_link, :class=>"fill-div", :target=>"_blank"%>
			<br /><h2>The Handbook</h2><i>View/download here</i>
		<%else%>
			You need to upload the handbook!
		<%end%>
	</div>
</div>

<div class="row">
	<div class="small-12 columns callout">
		<div class="row title-bar">
			<h5>The Forms</h5>
		</div>
		<ul>
			<%Form.order("name").each do |form|%>
				<li><%=link_to form.name, form.form_url, :target=>"_blank"%></li>
			<%end%>
		</ul>
	</div>
</div>