<div class="columns callout small-12">
	<div class="row title-bar">
		<h4>New Social Media Link</h4>
	</div>
	<%= render 'form' %>
  	<div class="row">
		<div class="small-3 medium-2 columns">
		</div>
		<div class="small-9 medium-10 columns">
			<p class="text-right"><%= link_to 'Back', social_media_links_path %></p>
		</div>
  	</div>
</div>