<div class="columns callout small-12">
	<div class="row title-bar">
		<h5>About this Site</h5>
	</div>
	<p>This site is written in <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a> utilizing <a href="http://foundation.zurb.com/" target="_blank">foundation</a> for stylization and responsive behavior. The icons used from <a href="http://fontawesome.io" target="_blank">Font Awesome</a> by Dave Gandy.</p>
	<p>The Zebracorns would like to give a huge thanks to Amber Tran for designing the awesome Zebracorn logo and to Jordanna Yap at <a href="http://www.anthemdesigns.com/" target="_blank">Anthem Designs</a> for creating our favicon.</p>
</div>