.stuck-left{
	position:absolute;
    top:130px;
    left:0px;
}

.menu.grey-menu{
	color: #CACACA !important;
}

.is-dropdown-submenu-item  a{
    color: black !important;
}
a:hover, a:focus {
  color: #8A8A8A !important;
}
a{
	color:inherit !important;
}
.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
    border-color: #CACACA transparent transparent !important;
}
.is-drilldown-submenu-item a{
	color: black !important;
}
.js-drilldown-back a{
	color: black !important;
}
.menu-text a{
color : white !important;
padding: 0 !important;
}
.row .row {
    margin-left: -1rem !important;
    margin-right: -1rem !important;
}

.nomargin {
    margin-bottom: -1rem !important;
}

.callout {
    margin-top: 2rem !important ;
    padding: 0 1rem 1rem 1rem !important;
	border: 1px solid #0A0A0A!important;
}
.callout.nomargin{
	margin-top:0rem !important;
	margin-bottom: 1rem !important;
}

.footer{
	background-color: #0a0a0a;
	color: white;
	max-width: 100%!important;
}
.footer a{
	color: #CACACA !important;
}

.background {
    background-image: url('/assets/zebra-background.svg') ;
    width: 100%;
     top: 0;
     left: 0;
     height:100%; 
     opacity: 0.4;
     position: fixed;
     background-repeat: repeat-y;
     background-size: 100% auto;
     padding: 0;
     margin: 0;
     z-index:-1;
}

h1.titleFont,
h2.titleFont,
h3.titleFont,
h4.titleFont,
h5.titleFont,
h6.titleFont {
  font-family: Verdana, Geneva, sans-serif;
}

h1 small.dark,
h2 small.dark,
h3 small.dark,
h4 small.dark,
h5 small.dark,
h6 small.dark {
  font-weight: normal;
  line-height: 1;
  color: #645E5E;
}
h1 small.smaller {
  font-size: 22px;
}

div#titlebar{
	background-color: #0a0a0a;
}



div#right-sidebar{
  position:fixed;
  top:100px;
  right:0;
  width:50px;
  background-color: black;
  border-radius: 20px 0px 0px 20px;
 }
 @media screen{
  body>div#right-sidebar{
   position:fixed;
  }
 }
 * html body{
  overflow:hidden;
 } 
 a.fill-div {
 	position: absolute!important;
     width: 100%!important;
     height: 100%!important;
     top: 0!important;
     left: 0!important;
 }
 div#left-sidebar{
   color:white;
   position:fixed;
   top:100px;
   left:0;
   width:60px;
   background-color: black;
   border-radius: 0px 20px 20px 0px;
   padding-top:.5rem;
   padding-bottom:1rem;
   padding-right:.5rem;
  }
  @media screen{
   body>div#left-sidebar{
    position:fixed;
   }
  }
  * html body{
   overflow:hidden;
  } 
  a.fill-div {
  	position: absolute!important;
      width: 100%!important;
      height: 100%!important;
      top: 0!important;
      left: 0!important;
  }
 .accordion-content{
	 background-color: transparent !important;
	 border:none !important;
	 margin-left: -1rem !important;
	 margin-right: -1rem !important;
 }
 .accordion{
	 background-color:transparent !important;
	 border:none !important;
	 
 }
 .accordion-title{
	 background-color:white !important;
	 border-bottom: 1px solid #989898 !important;
	 border-top: 1px solid #989898 !important;
	 border-left: 1px solid #989898 !important;
	 border-right: 1px solid #989898 !important;
	 margin-left: -1rem !important;
	 margin-right: -1rem !important;
 }
.accordion .accordion-content.white-background{
	 background-color:white !important;
	 border-bottom: 1px solid #989898 !important;
	 border-top: 1px solid #989898 !important;
	 border-left: 1px solid #989898 !important;
	 border-right: 1px solid #989898 !important;
	 
 }
 .sidemargin {
	 margin-left: 1rem !important;
	 margin-right: 1rem !important;
 }
 
.vertical.menu.menu-white{
 	background-color:white;
	
 }
 .tabs {
     background: none !important;
     /* border: 1px solid #e6e6e6; */
 }
 .tabs-content {
     background: #fefefe;
     transition: all 0.5s ease;
     border: none !important; 
     border-top: none !important; 
 }
 .tabs-title > a {
     padding: .5rem .5rem !important;
 }
 .off-canvas-content, .off-canvas-content {
 	background:inherit !important;
 }
 .has-tip.no-bold{
 	font-weight:normal!important;
 }