<div class="footer">
	<div class="row align-center">
		<div class="small-1 columns">
		</div>
		<div class="small-10 columns ">
			<div class="row">
				<div class="columns">
					<h5><u>Social Media</u></h5>
					<dl>
						<dt>Facebook</dt>
						<dt>Twitter</dt>
						<dt>Photos</dt>
						<dt>You-Tube</dt>
						<dt>Instagram</dt>
						<dt>Google+</dt>
					</dl>
				</div>
				<div class="columns">
					<h5><u>Media</u></h5>
					<dl>
						<dt>News</dt>
						<dt>Photos</dt>
						<dt>Videos</dt>
					</dl>
				</div>
				<div class="columns">
					<h5><u>Website</u></h5>
					<dl>
						<dt>Sign Up</dt>
						<dt>Sign In</dt>
						<dt>Log Out</dt>
						<dt>About</dt>
					</dl>
				</div>
				<div class="columns">
					<h5><u>Sponsors</u></h5>
					<3 Sponsors
				</div>
			</div>
		</div>
	</div>
</div>