<div class="footer">
	<div class="row align-center">
		<div class="small-1 columns">
		</div>
		<div class="small-10 columns ">
			<div class="row">
				<div class="small-12 medium-6 large-expand columns">
					<h5><u>Social Media</u></h5>
					<dl>
						<%SocialMediaLink.all.order(:order).each do |media|%>
							<dt><a href=<%=media.media_url%> target="_blank"><span><%=media.name.titleize%></span></a></dt>
						<%end%>
					</dl>
				</div>
				<div class="medium-6 large-expand columns show-for-medium">
					<h5><u>Media</u></h5>
					<dl>
						<dt>News</dt>
						<dt>Photos</dt>
						<dt>Videos</dt>
					</dl>
				</div>
				<div class="medium-6 large-expand columns show-for-medium">
					<h5><u>Website</u></h5>
					<dl>
						<dt>Sign Up</dt>
						<dt>Sign In</dt>
						<dt>Log Out</dt>
						<dt>About</dt>
					</dl>
				</div>
				<div class="small-12 medium-6 large-expand columns">
					<h5><u>Sponsors</u></h5>
					<3 Sponsors
				</div>
			</div>
		</div>
	</div>
	<br />
</div>