<div >
	<div class="title-bar"  style="width:100%">
	 <div class="top-bar-left">
	     <ul class="dropdown menu" data-dropdown-menu>
	       <li class="menu-text">Zebracorns</li>
	       <li>
	         <a href="#">About Us</a>
	         <ul class="menu vertical">
	           <li><a href="#">Who Are We?</a></li>
			   <li><a href="#">Outreach</a></li>
	           <li><a href="#">Awards</a></li>
	           <li><a href="#">History</a></li>
	         </ul>
	       </li>
	       <li><a href="#">Meetings</a></li>
	       <li><a href="#">Sponsors</a></li>
	       <li>
	         <a href="#">Media</a>
	         <ul class="menu vertical">
	           <li><a href="#">News</a></li>
			   <li><a href="#">Photos</a></li>
	           <li><a href="#">Videos</a></li>
	         </ul>
	       </li>
	       <li>
	         <a href="#">Resources</a>
	         <ul class="menu vertical">
	           <li><a href="#">Zebracorn Labs</a></li>
			   <li><a href="#">Handbook</a></li>
	         </ul>
	       </li>
	     </ul>
	   </div>
	   <div class="top-bar-right">
	     <ul class="menu">
	       <li><input type="search" placeholder="Search"></li>
	       <li><button type="button" class="button">Search</button></li>
	     </ul>
	   </div>
	</div>
</div>